/******************************************************************
Site Name: 
Author: 

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop. 

******************************************************************/
#container, .wrap { 
	width: 940px;
}

.header {
	.boxShadow(0,0,10px,0,darken(@border-gray,10%));

	a.mobile-nav-ic {
		display: none;
	}

	a.logo {
		margin: 10px;
	}

	nav {	
		position: relative;
		display: block;

		ul {
			li {
				span.toggle {
					display: none;
				}
			}
		}
		ul.top-nav {
			padding-left:117px;
					
					&:before {
						content: url(../images/shoponline.png) no-repeat center;
						height: 55px;
						width:117px;
						position:absolute;
						top:-15px;
						left:-1px;
					}

			>li {
				&:first-child {
					
				}
			}
		}

		ul.top-sub-nav {
			li {
				a {
					background:@light-gray;
					padding: 10px 1.15em;

					&:hover, &:active {
						background:@border-gray;
					}
				}
			}
		}
	}

	.searchbar {
		width:68%;
		margin: 0 0 0.5em;
		text-align: right;
	}
}

#shop-right-sidebar {
	.social-homepage {
		border:none;
	}
}

#content {
	.boxShadow(0,0,10px,0,darken(@border-gray,10%));
}

/*********************
NAVIGATION STYLES
*********************/

.nav {
	background: #eee;
	border: 0;

	li {
		float: left;
		position: relative;

		a {
			border-bottom: 0;

			/*
			you can use hover styles here even though this size
			has the possibility of being a mobile device.
			*/
			&:hover, &:focus {
				background-color: #dedede;

			}
		}

		&:first-child {}
		&:last-child {}

		/*
		plan your menus and drop-downs wisely.
		*/
		ul.sub-menu,
		ul.children {
			margin-top: 0;
			border: 1px solid #ccc;
			border-top: 0;
			position: absolute;
			display: none;
			z-index: 8999;

			li {

				a {
					padding-left: 10px;
					border-right: 0;
					display: block;
					width: 180px;
					border-bottom: 1px solid #ccc;

					&:hover,
					&:focus {}

					&:link {}
				}

				&:first-child {}

				&:last-child {

					a {
						border-bottom: 0;
					}
				}

				/*
				if you need to go deeper, go nuts
				just remember deeper menus suck
				for usability. k, bai.
				*/
				ul {}
			}

			/* highlight sub-menu current page */
			li.current-menu-item,
			li.current_page_item,
			li.current-page-ancestor {
				a {}
			}
		}

		/* showing sub-menus */
		&:hover ul {
			top: auto;
			display: block;
		}

	} /* end .menu ul li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current-page-ancestor {
		a {}
	}  /* end current highlighters */

} /* end .nav */


.knowledge-banner {

	h3 {
		display: inline-block;
		float:left;

		&:after {
			content:'';
			position:absolute;
			height:300px;
			width:300px;
			right:-75px;
			bottom:0;
			z-index:-1;
			background:@color-secondary;
			-moz-transform:rotate(30deg);
			-webkit-transform:rotate(30deg);
			-o-transform:rotate(30deg);
		}
	}

	p {
		display: inline-block;
		width:55%;
		float:right;
		padding:0 5px 0 0;
	}

	a {
		position:absolute;
		bottom:0;
		right:-5px;
		z-index:15;
		margin:0;
	}
}



.tabs {
	.tab-text {
		background-color:@light-gray;
		border:1px solid @border-gray;
		border-bottom:2px solid @border-gray;
		font-family:@accent-font;
		font-size:0.875em; //13/16
		line-height: 21px;
		display:inline-block;
		padding: 4px 25px;
		float:right;
	}
}