/******************************************************************
Site Name: 
Author: 

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to 
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection. 

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.less styles.

******************************************************************/

body {
	background:@light-gray url(../images/fabric_of_squares_gray.png) repeat top center;
}

.header {
	ul.shop-links {
		li {
			&:first-child {
				display: inline-block;
			}
		}
	}
}

	
/*********************
NAVIGATION STYLES
*********************/

.nav {}

	/* .menu is clearfixed inside mixins.scss */
	.menu {
		ul {
			li {
				a {
					
					/*
					you can use hover styles here even though this size
					has the possibility of being a mobile device.
					*/
					&:hover, &:focus {
					
					}
				}
				
				&:first-child {}
				&:last-child {}
				
				/*
				plan your menus and drop-downs wisely.
				*/
				ul.sub-menu,
				ul.children {
					li {
						a {
							&:hover,
							&:focus {}
							&:link {}
						}
						&:first-child {}
						&:last-child {}
					}
				}
			} /* end .menu ul li */
			
			/* highlight current page */
			li.current-menu-item, 
			li.current_page_item,
			li.current-page-ancestor {
				a {}
			}  /* end current highlighters */
		} /* end .menu ul */
	} /* end .menu */

/*********************
POSTS & CONTENT STYLES
*********************/

/* entry content */
.entry-content {
			
	
	/* at this larger size, we can start to align images */
	.alignleft, img.alignleft { 
		margin: 1em 1.5em 1em 0; 
		display: inline; 
		float: left; 
	}
	.alignright, img.alignright { 
		margin: 1em 0 1em 1.5em; 
		display: inline; 
		float: right; 
	}
	.aligncenter, img.aligncenter { 
		margin: 0 auto 1em; 
		display: block; 
		clear: both; 
	}
			
} /* end .entry-content */

/*********************
FOOTER STYLES
*********************/
	
/*
check your menus here. do they look good?
do they need tweaking?
*/
.footer-links {
	ul {
		li {}
	}
} /* end .footer-links */

.footer {
	#inner-footer {
		.twocol {
			width: 23%;
			vertical-align: top;
			margin-bottom:2em;
		}
	}
}

.knowledge-banner {
	h3 {
		span {
			font-size:3em;
		}
	}
}

//Blog Styles 
.blog, .single, .archive {
	article {
		.post-thumb {
			img {
				float:right;
				margin: 1em 0 1.5em 2em;
			}
		}
	}
}

.single {
	.article-header {
		text-align: left;
	}
}

//Location Styles
.location-list {
	li {
		text-align: left;
		.location-img {
			float:right;			
		}

		.location-details {
			float:left;
		}
	}
}
			
/*********************
WOOCOMMERCE STYLES
*********************/

// .woocommerce {
// 	table.cart{
// 		.product-thumbnail {
// 			display: block!important;
// 		}

// 		td.actions {
// 			.coupon {
// 				float:left;
// 				width:45%;
// 				clear:none;
// 			}
// 		}
// 	}
	
// 	.cart-collaterals {
// 		.shipping_calculator {
// 			float:left;
// 			width:45%;
// 			text-align: left;
// 		}

// 		.cart_totals {
// 			float:right;
// 			width:45%;
// 		}
// 	}

// }

