/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

------------ MAP ------------

01. GENERAL STYLES
02. WORDPRESS BODY CLASSES
03. LAYOUT & GRID STYLES
04. LINK STYLES
05. H1, H2, H3, H4, H5 STYLES
06. HEADER STYLES
07. NAVIGATION STYLES
08. POSTS & CONTENT STYLES
09. PAGE NAVI STYLES
10. COMMENT STYLES
11. COMMENT FORM STYLES
12. SIDEBARS & ASIDES
13. FOOTER STYLES
14. CUSTOM STYLES

******************************************************************/



/*********************
01. GENERAL STYLES
*********************/

html, body {
	/* height: 100%; */
}
body {
	font-family: @sans-serif;
	font-size: 100%;
	// line-height: 1.5;
	color: @dark-gray;
}

p, ul, li {
	line-height:1.5em;
}

.seperator {
	height:1px;
	width:100%;
	display: block;
	clear: both;
	margin: 1em 0;
	background:@border-gray;
}

/********************
02. WORDPRESS BODY CLASSES
    style a page via class
********************/

.rtl {}                           /* for sites that are read right to left (i.e. hebrew) */
.home {}                          /* home page */
.blog {}                          /* blog template page */
.archive {}                       /* archive page */
.date {}                          /* date archive page */
	.date-paged-1 {}                /* replace the number to the corresponding page number */
.search {}                        /* search page */
	.search-results {}              /* search result page */
	.search-no-results {}           /* no results search page */
	.search-paged-1 {}              /* individual paged search (i.e. body.search-paged-3) */
.error404 {}                      /* 404 page */
.single {}                        /* single post page */
	.postid-1 {}                    /* individual post page by id (i.e. body.postid-73) */
	.single-paged-1 {}              /* individual paged single (i.e. body.single-paged-3) */
.attachment {}                    /* attatchment page */
	.attachmentid-1 {}              /* individual attatchment page (i.e. body.attachmentid-763) */
	.attachment-mime-type {}        /* style mime type pages */
.author {}                        /* author page */
	.author-nicename {}             /* user nicename (i.e. body.author-samueladams) */
	.author-paged-1 {}              /* paged author archives (i.e. body.author-paged-4) for page 4 */
.category {}                      /* category page */
	.category-1 {}                  /* individual category page (i.e. body.category-6) */
	.category-paged-1 {}            /* replace the number to the corresponding page number */
.tag {}                           /* tag page */
	.tag-slug {}                    /* individual tag page (i.e. body.tag-news) */
	.tag-paged-1 {}                 /* replace the number to the corresponding page number */
.page-template {}                 /* custom page template page */
	.page-template-page-php {}      /* individual page template (i.e. body.page-template-contact-php */
	.page-paged-1 {}                /* replace the number to the corresponding page number */
	.page-parent {}                 /* parent page template */
	.page-child {}                  /* child page template */
	.parent-pageid-1 {}             /* replace the number to the corresponding page number */
.logged-in {}                     /* if user is logged in */
.paged {}                         /* paged items like search results or archives */
	.paged-1 {}                     /* individual paged (i.e. body.paged-3) */

/*********************
03. LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 96%;
	margin: 0 auto;
}

#container {
}



/*********************
04. LINK STYLES
*********************/

a, a:visited {
	color: @link-color;

	/* on hover */
	&:hover, &:focus {
		color: @link-hover;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************************************
05. H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	font-family: @heading-font;
	text-rendering: optimizelegibility;
	font-weight: 400;
	color:@color-secondary;
	/*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/

	/* removing text decoration from all headline links */
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size:1.75em; //28/16
	line-height: 1.333em;
}

h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	font-family: @accent-font;
	font-weight: 700;
	margin-bottom: 0.375em;
}

h2, .h2 {
	font-size:1.5; //24/16
	line-height: 1.4em;
}

h3, .h3 {
	font-size:1.375em; //22/16
}

h4, .h4 {
	font-size: 1.25em;
}

h5, .h5 {
	font-size: 1.125em;
}

/*********************
06. HEADER STYLES
*********************/

.header {	
	#inner-header {
		border-top:5px solid @color-primary;
		background-color:white;
	}

	a.logo {
		display: block;
		margin: 10px 0;
		text-align: center;

		img {
			height:51px;
			width:100%; // full: 309px;
			max-width:309px;
		}
	}

	.slogan {
		text-align: center;
		p {
			font-family: @heading-font;
			color:@color-secondary;
			font-size: 1.25em; // 20/16
			line-height: 1em;
			margin-top:10px;

			span {
				color:@color-primary;
				display: block;
				font-size:0.7em; //14/20
				margin-top:0.5em;
			}
		}
	}
	

	ul.shop-links {
		padding-top:0.5em;
		text-align: center;
		border-top:1px solid @border-gray;
		border-bottom:1px solid @border-gray;

		li {
			padding-bottom:1em;
			display: inline-block;
			font-size:0.875em; //14/16

			&:first-child {
				display: block;
				

				a{
					background:none;
					border:none;
				}
				&:before {
					font-family: 'healthkick';
					content: "\21";
					font-size: 1.2em;
				}
			}

			a {
				color:#333333;
				text-decoration: none;
				padding: 7px;

				background:@light-gray;
				border:1px solid @border-gray;

				&:hover, &:active {
					text-decoration: underline;
				}
			}
		}
	}
	

	.searchbar {
		display: inline-block;
		width:68%;
		text-align: left;

		label {
			.hide;
		}

		input[type=text] {
			background-color:@light-gray;
			border:1px solid @border-gray;
			border-right:none;
			font-size: 0.75em; //12/16
			padding: 0 5px;
			margin:0;
			display: inline-block;
			height:30px;
			width:80%;
		}

		input[type=submit] {
			display: inline-block;
			border: 1px solid @border-gray;
			border-left:none;
			margin-left:-4px;
			height:30px;
			width:30px;
			.image-replacement;
			text-indent: -999px;
			background: @light-gray url(../images/search-ic.png) no-repeat center;
		}
	}

	ul.social-header {
		margin:0;
		display:inline-block;
		padding: 0 3px;

		li {
			display: inline-block;
			padding-right:5px;
			a {
				.image-replacement;
				display: block;
				height:32px;
				width:32px;
			}

			&.facebook a {
				background: url(../images/facebook-ic-32.png) no-repeat center;
			}
			&.twitter a {
				background: url(../images/twitter-ic-32.png) no-repeat center;
			}
		}
	}



	nav {		
		ul.top-nav {
			background:@color-primary;
			margin:0;

			li {
				font-family: @accent-font;
				font-size: 0.8125em; //12/16
				font-weight:700;
				
				a {
					background-color:@color-primary;
					color:white;

					&:hover, &:active {
						background: darken(@color-primary, 15%);
					}
				}

				&:first-child {

				}

				&:last-child {}

			}
		}

		ul.top-sub-nav {
			background:@light-gray;
			margin:0;
			border:1px solid @border-gray;

			li {	
				font-size: 0.8125em; //13/16			
				font-family:@accent-font;
				text-transform: uppercase;
				font-weight:600;
				border-right:1px solid @border-gray;
	
				a {
					color:@dark-gray;
				}

				&:last-child {
					border-right:none;
				}

				&.strong {
					font-weight:800;
				}
			}
		}

		.sub-menu {
			margin:0;

			li {

			}
		}
	}
}

/*********************
07. NAVIGATION STYLES
*********************/

/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/

nav.mobile-nav {

	display: none;

	ul  {

		li {
			position: relative;

			ul.sub-menu {
				display: none;
			}

		}
	}
}

a.mobile-nav-ic {
	display: block;
	background:@color-primary;
	padding: 10px;
	color:@white;
	text-decoration: none;
	font-family: @accent-font;
	font-weight: 700;
	border-bottom: 2px solid darken(@color-primary, 10%);
	margin: 15px 0 5px;
	position: relative;

	&:hover, &:active {
		.transition();
		color:@white; 
		background:darken(@color-primary, 10%);
	}

	&:after {
		font-family: 'healthkick';
		vertical-align: top;
		font-size:1.5em;
		font-weight: normal;
		position: absolute;
		top:5px;
		right:5px;
		content: "\49";
	}

}

ul.top-nav {
	border-top:none;
	li {
		span.toggle {
			color:@white;
			border-left:2px solid @white;
		}
	}
}

ul.top-sub-nav {
	li {
		span.toggle {
			color:@dark-gray;
			border-left:2px solid @white;
		}
	}

	li.has-dropdown {
		a {
			background:@border-gray;
		}
	}
}

.nav {
	border: 1px solid #ccc;
	border-bottom: 0;

	li {

		a {
			display: block;
			text-decoration: none;
			padding: 10px;
			background-color: #eee;
			border-bottom: 1px solid #ccc;

			/*
			remember this is for mobile ONLY, so there's no need
			to even declare hover styles here, you can do it in
			the style.scss file where it's relevant. We want to
			keep this file as small as possible!
			*/
			&:hover, &:focus {

			}
		}

		&:first-child {}

		&:last-child {}

		/*
		so you really have to rethink your dropdowns for mobile.
		you don't want to have it expand too much because the
		screen is so small. How you manage your menu should
		depend on the project. Here's some great info on it:
		http://www.alistapart.com/articles/organizing-mobile/
		*/
		ul.sub-menu,
		ul.children {

			li {

				a {
					padding-left: 30px;

					&:hover,
					&:focus {
					}

					&:link {}

				}

				&:first-child {}

				&:last-child {}

			}

		}

		span.toggle {
			font-family: 'healthkick';
			font-weight: normal;
			position: absolute;
			top:0;
			right:0;
			padding:10px;
			display: block;
			cursor:pointer;
		}

	} /* end .menu li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {

		a {}

	}  /* end current highlighters */

} /* end .nav */


/*********************
08. POSTS & CONTENT STYLES
*********************/

#content {
	#inner-content {

		background:@white;
	}

	#main {
	}
}

		.hentry {

			header {}

			footer {}

		} /* end .hentry */

		.single-title,
		.page-title {}

		.single-title {}

		.page-title {
			font-size:1.75em; //28/16
		}

		.archive-title { }

		/* want to style individual post classes? Booya! */
		.post-id {}         /* post by id (i.e. post-3) */
		.post {}            /* general post style */
		.page {}            /* general article on a page style */
		.attachment {}      /* general style on an attatchment */
		.sticky {}          /* sticky post style */
		.hentry {}          /* hentry class */
		.category-slug {}   /* style by category (i.e. category-videos) */
		.tag-slug {}        /* style by tag (i.e. tag-news) */

		/* post meta */
		.byline {
			color: #999;

			time {}
		}

		/* entry content */
		.entry-content {

			p {
				font-size:0.875em; //14/16
			}


			ul, ol, table, dl {}

			ul, ol {
				font-size:0.875em; //14/16
				margin-bottom: 1em;

				li {

				}

			}

			ul {
				margin-left:4px;

				li {
					background: url(../images/ul-li-bg.png) no-repeat left 7px;
					padding-left: 1em;
				}

			}

			ol {
				list-style: decimal;
				margin-left:1.5em;

				li {}

			}

			blockquote {
				border-left: 5px solid @light-gray;
				position: relative;

				p {
					font-family:@heading-font;
					padding-left: 1em;
					color:@color-secondary;
					font-size: 1.125em; //18/16
				}
				
				cite {
					font-family: @accent-font;
					font-size:0.875em; 

					a {
						color: lighten(@dark-gray, 20%);
						padding-left:1.5em;
					}
				}

			}

			dl {}

			dt {}

			dd {
				margin-left: 0;
				font-size: 0.9em;
				color: #787878;
				margin-bottom: 1.5em;
			}

			img {
				margin: 0 0 1.5em 0;
				max-width: 100%;
				height: auto;
			}

			/*
			image alignment on a screen this size may be
			a bit difficult. It's set to start aligning
			and floating images at the next breakpoint,
			but it's up to you. Feel free to change it up.
			*/
			.alignleft, img.alignleft {}
			.alignright, img.alignright {}
			.aligncenter, img.aligncenter {}

			video, object {
				max-width: 100%;
				height: auto;
			}

			pre {
				background: #eee;
				border: 1px solid #cecece;
				padding: 10px;
			}

			table {
				text-align: left;
				font-size:0.875em; //14/16

				thead {
					background:@light-gray;					
					border-bottom: 2px solid darken(@light-gray, 10%);
				}

				tbody {
					tr {
						border-bottom:1px solid @border-gray;
					}

					td {
						padding:0.5em 1em 0.5em 0;	
						vertical-align: top;
					}
				}

				tfoot {
					background-color: lighten(@light-gray, 3%);
				}
			}

		} /* end .entry-content */

		.wp-caption {
			max-width: 100%;
			padding: 5px;

			/* images inside wp-caption */
			img {
				max-width: 100%;
				margin-bottom: 0;
				width: 100%;
			}

			p.wp-caption-text {
				font-size: 0.75em;
				margin: 4px 0 7px;
				text-align: center;
				color:#818181;
			}

		} /* end .wp-caption */

		/* image gallery styles */
		.gallery {

			dl {

				a {}

				img {}

			}

			dt {}

			dd {}

		} /* end .gallery */

		/* gallery caption styles */
		.gallery-caption {}

		.size-full {}
		.size-large {}
		.size-medium {}
		.size-thumbnail {}

/******************************************************************
09. PAGE NAVI STYLES
******************************************************************/

.page-navigation,
.wp-prev-next {

	margin: 1.1em 0 2.2em;
}
	.bones_page_navi {
		padding-top:1em;
		border-top:1px solid @border-gray;

		li {
			float: left;
			margin-left: 10px;

			a, &.bpn-current, &.bpn-prev-link a, &.bpn-next-link a{
				padding: 5px 7px;
				line-height: 1em;
				font-weight: normal;
				display: block;
				font-size: 0.75em;
				text-decoration: none;
				position: relative;
				background-color: @light-gray;
				border: 1px solid @border-gray;

				&:hover,
				&:focus {
					background: @color-secondary;
					color: @white;
					font-weight: 700;
					border-color:darken(@color-secondary, 10%);
					text-decoration: none;
				}
			}

		}

		/* current page link */
		li.bpn-current {
			background: @color-secondary;
			border-color:darken(@color-secondary, 10%);
			color:@white;
			font-weight:700;

			a {
				/* hovering on current page link */
				&:hover,
				&:focus {}

			}

		} /* end .bones_page_navi .bpn-current */

		/* common styles for page-navi links */
		li.bpn-prev-link,
		li.bpn-next-link {
			font-weight: 700;

		}

	} /* end .bones_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		ul {}

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} /* end .wp-prev-next */

/******************************************************************
10. COMMENT STYLES
******************************************************************/

/* h3 comment title */
#comments {

	/* number of comments span */
	span {}

}

.comment-nav {

	ul {

		li {}

	}
}


.commentlist {
	font-size: 0.875em; //14/16
	margin-top:0;
	padding-top:0;

	li {
		position: relative;
		clear: both;
		overflow: hidden;
		list-style-type: none;
		margin-bottom: 1em;
		padding: 0.7335em 10px;

		article {
			border:none;
			padding-bottom:0;
			margin-bottom:0;
		}

		&:last-child {
			margin-bottom: 0;
		}

		ul.children {
			margin: 0 0 0 3em;

			li {
				border-top: 1px solid @border-gray;
			}

			/* variations */
			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           /* change number for different depth */
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

		} /* end .commentlist li ul.children */
	}

	li[class*=depth-] {
		margin-top: 1.1em;
	}

	li.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	li:not(.depth-1) {
		margin-right: -10px;
		margin-left: -10px;
		margin-top: 0;
		padding-bottom: 0;
	}

	li.depth-2 {}
	li.depth-3 {}
	li.depth-4 {}
	li.depth-5 {}

	/* general comment classes */
	.alt {}
	.odd {
		background: @light-gray;
		border:1px solid @border-gray;
	}
	.even {}
	.parent {}
	.comment {}
	.children {}
	.pingback {}
	.bypostauthor {}
	.comment-author {}
	.comment-author-admin {}
	.thread-alt {}
	.thread-odd {}
	.thread-even {}

	/* vcard */
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			float: right;

			a {
				color: #999;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		img.photo {}

		img.avatar {
			position: absolute;
			left: 10px;
			padding: 2px;
			border: 1px solid #cecece;
			background: #fff;
		}

	} /* end .commentlist .vcard */


	/* comment meta */
	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}

	/* comment content */
	.comment_content {
		margin-left: 50px;

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} /* end .commentlist .comment_content */

	/* comment reply link */
	.comment-reply-link {
		text-decoration: none;
		float: right;
		background: @border-gray;
		padding: 3px 10px;
		color:@dark-gray;
		margin-bottom: 10px;
		font-family:@heading-font;
		font-size: 0.9em;

		&:hover,
		&:focus {
			.transition();
			background:@color-secondary;
			color:@white;
		}

	} /* end .commentlist .comment-reply-link */

} /* end .commentlist */

/******************************************************************
11. COMMENT FORM STYLES
******************************************************************/

.respond-form {
	margin: 1.5em 0;
	padding-bottom: 2.2em;

	form {
		margin: 0.75em 0;
		font-size:0.875em; //14/16

		li {
			list-style-type: none;
			clear: both;
			margin-bottom: 0.7335em;

			label,
			small {
				display: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url],
		textarea {
			padding: 3px 6px;
			background: @light-gray;
			border: 1px solid @border-gray;
			line-height: 1.5em;

			&:focus {
				background: #fff;
			}

			/* form validation */
			&:invalid {
				outline: none;
				border-color: #fbc2c4;
				background-color: #f6e7eb;
				-webkit-box-shadow: none;
				   -moz-box-shadow: none;
				    -ms-box-shadow: none;
						box-shadow: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url] {
			max-width: 400px;
			min-width: 250px;
		}

		textarea {
			resize: none;
			width: 97.3%;
			height: 150px;
		}

	}
}

	/* comment submit button */
	#submit {}

	/* comment form title */
	#comment-form-title {
		margin: 0 0 1.1em;
	}

	/* cancel comment reply link */
	#cancel-comment-reply {
		a {}
	}

	/* logged in comments */
	.comments-logged-in-as {}

	/* allowed tags */
	#allowed_tags {
		margin: 1.5em 10px 0.7335em 0;
	}

	/* no comments */
	.nocomments {
		margin: 0 20px 1.1em;
	}

/*********************
12. SIDEBARS & ASIDES
*********************/

.sidebar {
	font-size: 0.875em; //14/16
}

	.widgettitle {
		font-family: @heading-font;
		font-weight:normal;
		font-size: 1.571428571em; //22/14
	}

	.widget {
		padding-bottom: 0.5em;
		margin-bottom:1em;

		ul {

			li {

				&:first-child {}

				&:last-child {}

				a {}

				/* deep nesting */
				ul {}

			}

		}

	}

/*********************
13. FOOTER STYLES
*********************/

.footer {
	clear: both;
	#inner-footer {
	}
	nav {
		ul.nav {
			li {
				a {}

				&:first-child {}

				&:last-child {}
			}
		}
	}
}

	/*
	if you checked out the link above:
	http://www.alistapart.com/articles/organizing-mobile/
	you'll want to style the footer nav
	a bit more in-depth. Remember to keep
	it simple because you'll have to
	override these styles for the desktop
	view.
	*/
	.footer-links {

		ul {

			li {}

		}

	} /* end .footer-links */


	.copyright {}

/*********************
14. CUSTOM STYLES
*********************/	
.hero {
	margin-bottom:1em!important;
	
	ul {
		margin:0;
	}

	.flex-control-nav {	
		bottom: 1%;
		right:2%;
		text-align: right;

		li {
			margin: 0 5px 0 0;

			&:last-child {
				margin-right:0;
			}

			a {
				.image-replacement;
				height:15px;
				width:15px;
				background: rgba(255,255,255, 0.5);			

				&.flex-active {
					background: rgba(255,255,255, 1);
				}
			}
		}
	}

	.flex-direction-nav {
		top:0!important;	
	}
}

.location-box-home {
	background-color:@light-gray;
	border: 1px solid @border-gray;
	padding: 10px 10px 0;
	margin-bottom:1em;

	h3 {
		color:@color-primary;
		font-family: @heading-font;
		text-decoration: underline;
		margin-top:0;
		font-size: 1.1em;
	}
	p {
		font-size: .875em;
	 }
}

//tab styles
.tabs {
	ul.tab-titles {
		margin-top:0;
		li {
			display: inline-block;
			 a {
			 	.button;
			 	text-transform: none;
			 }

			 &.ui-tabs-active {
			 	a {
					background-color:@color-primary;
			 		.blue-button;
			 	}
			 }

			&.tab-text {
			 	display:none;
			 }
		}
	}
}

html.js {
	.home {
		.tabs {
			display:none;
		}

	}
}

.product-slider {
	position:relative;

	ul.slides {
		li {
			width:23%;
			display: inline-block;
			vertical-align: top;
			text-align: center;
			font-size: 0.875em; //14/16

			img {

			}
			
			a {
				color:inherit;
				text-decoration: none;
			}

			span {
				display: block;
				position:relative;

				&.discount {
					text-decoration: line-through;
					color:@dark-gray!important;
					font-weight: normal!important;
				}

				&.price {
					color:@color-secondary;
					font-weight: bold;
					position:relative;
					bottom:0;
				}

				span {
					display: inline-block;
					padding-left:7px;
					color:@color-secondary;
					font-weight: bold;
				}
			}
		}
	}

	.products-flexslider {
		padding: 0 20px;


		li.product {
			position: relative;

			h3 {
				font-size: 0.875em; //14/16
				font-weight:normal;
				color:@dark-gray;
				margin-top:0;
			}

			.price {
				del span{
					font-size: 0.75em;
					color:lighten(@dark-gray, 30%)!important;
					margin: -2px 0 0 0;
					text-decoration: line-through!important;
					font-weight: normal;
				}
				ins {
					background:none;
					color:@color-secondary;
					font-weight: 700;
				}
			}

			.star-rating {
				display: none;
			}

			.button {
				margin-top:5px;
				color:@white;
			}

			.onsale {
				position: absolute;
				top:0;
				right:0;
				display: block;
				background:@color-secondary;
				color:@white;
				font-family:@accent-font;
				font-size: 0.75em; //12/16
				font-weight: 700;
				padding: 0 5px;				
				border-bottom: 2px solid darken(@color-secondary, 15%);
			}
		}


		ul.flex-direction-nav {
			li {
				a {
					opacity: 1;
					height: 47px;
					width:15px;
					background: url(../js/libs/flexslider/bg_product_direction_nav.png) no-repeat 0 0;
				}
				.flex-next{
					right:3px;
					background-position:100% 0;
				}

				.flex-prev {
					left:0;
				}
			}
		}

	}
}

.triangle-topleft {
	width: 0;
	height: 0;
	border-top: 100px solid red;
	border-right: 100px solid transparent;
}

.knowledge-banner {
	overflow:hidden;
	margin: 15px 0;
	background-color:@light-gray;
	border:1px solid @border-gray;
	z-index:0;

	h3 {
		background-color:@color-secondary;
		display: block;
		padding:10px;
		margin:0;
		color:@white;
		font-family: @heading-font;
		font-size: 1em;
		position:relative;

		span {
			font-size:2.25em;
			display: block;
			font-style: italic;
			text-transform: uppercase;
			line-height: 1em;
		}
	}

	p {
		font-size: 0.8125em; //13/16
		display:block;
		padding: 0 10px 0;
	}

	a {
		.button;
		.blue-button;
		margin: 10px 0;
		display: block;
		float:left;
	}
}

.homepage-bottom-content {
	padding-top:1em;

	.fourcol {
		h3 {
			margin-top:0;
		}
	}
	.fourcol.first {
		padding-left:  10px;
	}
	.fourcol.last {
		padding-right:10px;
	}
}

.latest-news {
	margin-bottom: 1em;
	ul.news-list {
		li {
			font-family: @accent-font;
			padding-bottom:20px;

			a {
				text-decoration: none;

				&:hover, &:active {

					.news-list-date, .news-list-title {
						.transition();
						color:@color-secondary;
					}

					.news-list-title {
						.transition();
						border-color:@color-secondary;
					}
				}

				.news-list-date, .news-list-title {
					display:inline-block;
					vertical-align: top;
					text-transform: uppercase;
				}

				.news-list-date {
					width:15%;
					text-align: center;

					span {
						display: block;
						line-height: 1em;

						&.month, &.day {
							font-weight: 800;
						}

						&.day {
							font-size: 1.4375em; //23/16
						}

						&.year {
							font-size:0.8125em; //13/16
							font-weight:600;
						}
					}
				}

				.news-list-title {
					width:80%;
					color:@dark-gray;
					font-weight: 600;
					line-height: 1.125em;
					border-left: 1px solid #bdbdbd;
					padding-left:10px;

					span {
						display: block;
						font-family: @sans-serif;
						font-size:0.75em;//12/16
						color:#6c6c6c;
						font-weight:normal;
						text-transform: none;	
						padding-top:5px;

					}
				}
			}			
		}
	}
}

.more-link {
	font-family:@accent-font;
	text-decoration: none;
	font-size:0.875em;

	&:after {
		font-family: 'healthkick';
		vertical-align: bottom;
		letter-spacing: -9px;
		padding-left:3px;
		content:'\23\23';
	}
}

.dealoftheday {
	border:1px solid @border-gray;
	text-align: center;
	padding-bottom: 15px;

	p {
			padding: 0 1em;
			font-size:0.875em;
		}

	.deal {
		text-align: center;
		position: relative;
		display: block;

		img {
			max-width: 90%;	
			height:auto;
			width:auto;
			display: block;
			margin: 0 auto;
		}

		a {
			text-decoration: none;
		}

		.offer-content {
			position: absolute;
			bottom:0;
			background: rgba(255,255,255,0.75);
			width:100%;
			text-align: center;

			.offer {
				font-family: @heading-font;
				font-size:1.5em;
				display: block;
				color:@color-secondary;
			}
			.subtext {
				font-family: @accent-font;
				font-size:1em;
				color:@color-secondary;
			}
			.clickhere {
				font-family: @accent-font;
				font-size:0.75em;
				display: block;
				color:@color-primary;
			}
		}
	}

	h3 {
		background-color:@color-primary;
		color:@white;
		display: block;
		padding-left:10px;
		margin:0 0 15px 0;
	}
}

#shop-right-sidebar {
	.social-homepage {
		border-top: 1px solid @border-gray;
		text-align: center;
		ul {
			margin-bottom: 0;
			li {
				display: inline-block;
				margin-bottom: 1em;

				&:last-child {
					margin-bottom:0;
				}
				a {
					
					background-position: center;
				}
			}
		}
	}
}

.sidebar .social-homepage {
	p {
		font-size:1em;
	}
}
.social-homepage {

	ul {
		display: block;
		padding-bottom:1em;
		border-bottom: 1px solid @border-gray;
		li {
			display: inline-block;
			margin-right:1em;

			&.last {
				margin-right:0;
			}

			a {
				.image-replacement;
				display: block;
			}

			&.facebook-findus a {
				background: url(../images/facebook-findus.png) no-repeat center;
				height:30px;
				width:124px;
			}

			&.twitter-followus a {
				background: url(../images/twitter-followus.png) no-repeat center;
				height:34px;
				width:126px;
			}
		}
	}

	h4 {
		font-family: @accent-font;
		color:@dark-gray;
		font-size:0.875em; //14/16
		margin: 10px 0;
	}

	p {
		font-size:0.8125em; //13/16
	}

	form {
		overflow: hidden;
		input[type=email], input[type=text] {
			padding:10px;
			margin-bottom:10px;
			background-color:@light-gray;
			border:1px solid @border-gray;
			font-size: 0.875em; //14/16
			width:98%;
			display: block;


			&::-webkit-input-placeholder {
			   color: #717171;
			}

			&:-moz-placeholder { /* Firefox 18- */
			   color: #717171;  
			}

			&::-moz-placeholder {  /* Firefox 19+ */
			   color: #717171;  
			}

			&:-ms-input-placeholder {  
			   color: #717171;  
			}
		}

		input[type=submit] {
			float:left;
			display: block;
		}
	}
}

// Staff Styles 
.staff-list {
	font-size: 1em!important;
	li {
		margin: 0 2% 2% 0;
		font-size:1em!important;
		text-align: left;
		background:none!important;
		padding-left:0!important;
		vertical-align: top;
		display: inline-block;
		width:47%;

		img {
			max-width:100%;
			height:auto;
		}
		a {
			text-decoration: none;
		}

		p {			
			font-size: 1em;
			line-height: 1.25em;
			.staff-name {
				font-size: 1.25em!important;
				color:@color-secondary;
				font-family: @heading-font;
			}

			.staff-position, .staff-location {
				display: block;
				font-size: 0.875em; //14/16
			}
		}
	}
}

//Location Styles
.location-list {
	li {
		margin-bottom: 2em;
		border-bottom: 1px solid @border-gray;
		padding-bottom:1em;
		text-align: center;

		p {
			font-size: 0.875em; //14/16
		}
		a {}
	}
}

//Testimonials Styles
.testimonials-list {
	li {
		border-bottom: 1px solid @border-gray;
		padding-left: 2em;
		margin-bottom: 1em;
		position: relative;

		&:last-child {
			border:none;
		}

		&:before {
			content: '\201C';
			font-family: @heading-font;
			font-size: 3em;
			position:absolute;
			color:@color-secondary;
			left:0px;
			top:5px;
		}

		.testimonial-name {
			font-family: @heading-font;
			color:lighten(@dark-gray, 10%);
		}
	}
}

//Blog Styles 
.blog, .single, .archive {
	article {
		border-bottom:1px solid @border-gray;
		margin-bottom:2em;

		h1 {
			margin-bottom:0;
		}
		.byline {
			margin: 0 0 0.5em;
			font-size: 0.75em; //14/16
			display: block;
			font-family: @heading-font;

			a{
				text-decoration: none;
				color:inherit;
				font-weight: normal;

				&:hover, &:focus {
					.transition();
					color:@color-secondary;
				}
			}
		}

		.entry-content {
			clear:left;
		}

		
	}
}

.single {
	.article-header {
		border-bottom: 1px solid @border-gray;
		padding-bottom:1em;
		margin-bottom: 1em;
		text-align: center;
	}
}


.footer {
	margin-bottom:15px;
	#inner-footer {
		padding-top:1em;

		.twocol {
			width:48%;
			display:inline-block;
			vertical-align: top;
			margin-bottom:2em;
		}

		h4 {
			margin:0;
			color:#717171;
			font-family: @accent-font;
			font-size: 0.875em; //14/16
		}

		ul {
				margin: 10px 0;
			li {
				line-height:1em;
				padding-bottom: 5px;

				a {
					font-size: 0.75em; //12/16
					text-decoration: none;
					color:#717171;

					&:hover, &:active {
						text-decoration: underline;
					}
				}
			}
		}

		.payment {
			text-align:center;

			ul {
				li {
					display: inline-block;
					.image-replacement;
					height:32px;
					width:51px;
					margin-right:3px;

					&:last-child {
						margin-right:none;
					}
					
					&.visa-ic {
						background: url(../images/visa-ic.png) no-repeat center;
					}
					&.mastercard-ic {
						background: url(../images/mastercard-ic.png) no-repeat center;
					}
					&.discover-ic {
						background: url(../images/discover-ic.png) no-repeat center;
					}
					&.amex-ic {
						background: url(../images/amex-ic.png) no-repeat center;
					}
					&.paypal-ic {
						background: url(../images/paypal-ic.png) no-repeat center;
					}
				}
			}
		}

		.copyright {
			font-size: 0.75em; //12/16
			color:#717171;
		}
	}
}

/*********************
15. WooCommerce Styles
*********************/	

// @import url('woocommerce.less');
// WooCommerce Message styles 

body.woocommerce {
	.single-product-content {
		position:relative;
	}
}

#shop-filters-btn {
	display:block;
	line-height:2em;
	margin-bottom:5px;

	i {
		float:right;
		line-height:2em;
	}
}

#shop-filters {
	display: none;
}

#brands_a_z {
	ul {
		margin: 0 0 1.5em;
		border:1px solid @border-gray;
		border-top:none;
		padding: 1em 0 0.5em;

		li {
			background:none;
			padding-left:0;
		}

		&.brands_index {
			border:none;
			li {
				a {
					background: @red;
					border-color: darken(@red, 7%);
					color:@white;

					&:hover, &:focus {
						background: darken(@red, 10%);
					}
				}
			}
		}

		&.brands {
			border-left: 1px solid @border-gray;
			padding-left: 1em;

			a {
				text-decoration: none;
				color:inherit;
			}
		}
	}



	h3 {
		text-transform: uppercase;
		background:@light-gray;
		color:inherit;
		border: 1px solid @border-gray;
		padding: 0.5em;
		margin-bottom:0;

		&:target {
			display: block;
			text-decoration: none!important;
			border-bottom:4px solid @color-secondary;
		}
	}

	a.top {
		.button;
		background-color:@dark-gray;
		border:none!important;
	}
}

// Product Categories List from widget 
#main .entry-content .widget_product_categories {
	ul {
		li {
			background:none;
			padding-left:0;
			margin-bottom: 0.5em;

			a {
				text-decoration: none;
				font-weight: bold;
			}

			ul {
				border-left: 1px solid @border-gray;
				font-size:1em;
				margin: 0;
				li {
					padding-left: 1em;

					a {
						font-weight: normal;
					}
				}
			}
		}
	}
}


/* Contact Form 7 Styles
-------------------------------------------------------------------------------*/
.wpcf7 form {
	width:95%!important;
	position:relative;
}

.wpcf7 input[type=text], .wpcf7 input[type=email], .wpcf7 textarea { 
	width:100%; 
	max-width:100%;
	border:1px solid @border-gray;
	padding: 5px;
	background:@light-gray;
}
.wpcf7 input[type=submit] {
	.button;
}

div.wpcf7-response-output {
	padding: 15px !important;
}

div.wpcf7-mail-sent-ok {
	background: #cdf8d6;
	border: 1px solid #aee4ba !important;
	color:#4f7926;
	font-size:12px;
}

div.wpcf7-mail-sent-ng {
	background: #ecc3c3;
	border: 1px solid #d99494 !important;
	color:#985d5d;
	font-size:12px;
}

div.wpcf7-spam-blocked {
	background: #ecc3c3;
	border: 1px solid #d99494 !important;
	color:#985d5d;
	font-size:12px;
}

div.wpcf7-validation-errors {
	background: #fbf4c8;
	border: 1px solid #f0e599 !important;
	color:#4a441f;
	font-size:12px;
}

span.wpcf7-not-valid-tip {	
	z-index: 100;
	background: #ecc3c3 !important;
	border: 1px solid #d99494 !important;
	font-size: 10pt;
	width: 250px!important;
	color:#985d5d !important;
	top:-7px!important;
	right:0!important;
	left:auto!important;
}
	
