/******************************************************************
Site Name: 
Author: 

Stylesheet: Mixins & Constants Stylesheet

This is where you can take advantage of LESS' great features: 
Mixins & Constants. I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques like box shadow and
border-radius.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more. 

******************************************************************/

/*********************
CLEARFIXIN'
*********************/

// Contain floats: nicolasgallagher.com/micro-clearfix-hack/
.clearfix {
  zoom: 1;
	&:before, &:after { content: ""; display: table; }
	&:after { clear: both; }
}

/*********************
TOOLS
*********************/

// BORDER-BOX ALL THE THINGS! (http://paulirish.com/2012/box-sizing-border-box-ftw/)
* { 
	-webkit-box-sizing: border-box; 
	-moz-box-sizing:    border-box; 
	box-sizing:         border-box; 
}

// http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/ 
.image-replacement {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.hide {
	display: none;
}
.text-right {
	text-align: right;
}

/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/

@alert-yellow:      #ebe16f;
@alert-red:         #fbe3e4;
@alert-green:       #e6efc2;
@alert-blue:        #d5edf8;

@black:             #000;
@white:             #fff;
@light-gray: 		#f1f1f1;
@dark-gray: 		#333333;
@border-gray: 		#d5d5d5;
@button-gray: 		#828282;

@color-primary:     #2d338e;
@color-secondary:   #c0132c;

@link-color:        @color-secondary;
@link-hover:        darken(@link-color, 9%);

/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/


/*********************
TYPOGRAPHY
*********************/

// import custom fonts from Google Fonts CDN
@import url(http://fonts.googleapis.com/css?family=Patua+One|Open+Sans:400,600,700,800);

@sans-serif:         "Helvetica Neue", Helvetica, Arial, sans-serif; 
@serif:              "Georgia", Cambria, Times New Roman, Times, serif; 

@heading-font: 		  'Patua One', Georgia, serif;
@accent-font:		  'Open Sans', sans-serif;

/* 
use the best ampersand 
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
span.amp {
  font-family: Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif;
  font-style: italic;
}

/* text alignment */
.text-left   { text-align: left; }
.text-center { text-align: center; }
.text-right  { text-align: right; }


// alerts and notices
.alert {
	margin: 10px;
	padding: 5px 18px;
	border: 1px solid;
}

.alert-help {
  .alert();
	border-color: darken(@alert-yellow, 5%);
	background: @alert-yellow;
}

.alert-info {
  .alert();
	border-color: darken(@alert-blue, 5%);
	background: @alert-blue;
}

.alert-error {
  .alert();
	border-color: darken(@alert-red, 5%);
	background: @alert-red;
}

.alert-success {
  .alert();
	border-color: darken(@alert-green, 5%);
	background: @alert-green;
}

/*********************
ICOMOON ICON FONTS
*********************/

@font-face {
	font-family: 'healthkick';
	src:url('../type/healthkick.eot');
	src:url('../type/healthkick.eot?#iefix') format('embedded-opentype'),
		url('../type/healthkick.woff') format('woff'),
		url('../type/healthkick.ttf') format('truetype'),
		url('../type/healthkick.svg#healthkick') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'healthkick';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="ic-"] {
*/
.ic-cart, .ic-arrow-right-alt1, .ic-arrow-right, .ic-price, .ic-circleadd, .ic-circledelete, .ic-circleselect, .ic-alarm, .ic-fire, .ic-plus, .ic-minus, .ic-comment, .ic-user, .ic-users, .ic-arrow-left, .ic-arrow-down, .ic-arrow-up, .ic-credit, .ic-user-2, .ic-users-2, .ic-stats, .ic-signup, .ic-star, .ic-star-2, .ic-star-3, .ic-heart, .ic-heart-2, .ic-info, .ic-info-2, .ic-facebook, .ic-twitter, .ic-linkedin, .ic-pinterest, .ic-certificate, .ic-email, .ic-uniF013, .ic-search, .ic-tag, .ic-profile, .ic-t-shirt, .ic-menu, .ic-list, .ic-list-2, .ic-error, .ic-error-2, .ic-warning, .ic-add, .ic-checked, .ic-minus-2 {
	font-family: 'healthkick';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.ic-cart:before {
	content: "\21";
}
.ic-arrow-right-alt1:before {
	content: "\22";
}
.ic-arrow-right:before, .more-link:after {
	content: "\23";
}
.ic-price:before {
	content: "\24";
}
.ic-codeigniter:before {
	content: "\25";
}
.ic-pill:before {
	content: "\26";
}
.ic-circleadd:before {
	content: "\27";
}
.ic-circledelete:before {
	content: "\28";
}
.ic-circleselect:before {
	content: "\29";
}
.ic-alarm:before {
	content: "\2a";
}
.ic-fire:before {
	content: "\2b";
}
.ic-plus:before {
	content: "\2c";
}
.ic-minus:before {
	content: "\2d";
}
.ic-comment:before {
	content: "\2e";
}
.ic-user:before {
	content: "\2f";
}
.ic-users:before {
	content: "\30";
}
.ic-arrow-left:before {
	content: "\31";
}
.ic-arrow-down:before {
	content: "\32";
}
.ic-arrow-up:before {
	content: "\33";
}
.ic-credit:before {
	content: "\34";
}
.ic-user-2:before {
	content: "\35";
}
.ic-users-2:before {
	content: "\36";
}
.ic-stats:before {
	content: "\37";
}
.ic-signup:before {
	content: "\38";
}
.ic-star:before {
	content: "\39";
}
.ic-star-2:before {
	content: "\3a";
}
.ic-star-3:before {
	content: "\3b";
}
.ic-heart:before {
	content: "\3c";
}
.ic-heart-2:before {
	content: "\3d";
}
.ic-info:before {
	content: "\3e";
}
.ic-info-2:before {
	content: "\3f";
}
.ic-facebook:before {
	content: "\40";
}
.ic-twitter:before {
	content: "\41";
}
.ic-linkedin:before {
	content: "\42";
}
.ic-pinterest:before {
	content: "\43";
}
.ic-certificate:before {
	content: "\44";
}
.ic-greenhosting:before {
	content: "\45";
}
.ic-email:before {
	content: "\46";
}
.ic-uniF013:before {
	content: "\47";
}
.ic-search:before {
	content: "\48";
}
.ic-tag:before {
	content: "\25";
}
.ic-profile:before {
	content: "\26";
}
.ic-t-shirt:before {
	content: "\45";
}
.ic-menu:before {
	content: "\49";
}
.ic-list:before {
	content: "\4a";
}
.ic-list-2:before {
	content: "\4b";
}
.ic-error:before {
	content: "\f04a";
}
.ic-error-2:before {
	content: "\e000";
}
.ic-warning:before {
	content: "\e001";
}
.ic-add:before {
	content: "\e002";
}
.ic-checked:before {
	content: "\e003";
}
.ic-minus-2:before {
	content: "\e004";
}



/*********************
BORDER RADIUS
*********************/

/* 
NOTE: For older browser support (and some mobile), 
don't use the shorthand to define *different* corners. 

USAGE: .border-radius(4px); 

*/
.border-radius(@radius: 4px) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
          border-radius: @radius;
}


/*********************
TRANISTION
*********************/

/* .transition(all,2s); */
.transition(@what: all, @time: 0.2s, @transition: ease-in-out) {
	-webkit-transition: @what @time @transition;
	-moz-transition:    @what @time @transition;
	-ms-transition:     @what @time @transition;
	-o-transition:      @what @time @transition;
	transition:         @what @time @transition;
}

/*********************
CSS3 GRADIENTS
Be careful with these since they can 
really slow down your CSS. Don't overdo it.
*********************/

/* .css-gradient(#dfdfdf,#f8f8f8); */
.css-gradient(@from: #dfdfdf, @to: #f8f8f8) {
	background-color: @to;
	background-image: -webkit-gradient(linear, left top, left bottom, from(@from), to(@to));
	background-image: -webkit-linear-gradient(top, @from, @to);
	background-image: -moz-linear-gradient(top, @from, @to);
	background-image: -o-linear-gradient(top, @from, @to);
	background-image: linear-gradient(to bottom, @from, @to);
}

/*********************
BOX SHADOW
*********************/

/* .boxShadow(0,0,4px,0,#444); */
.boxShadow(@x: 0, @y: 0, @radius: 4px, @spread: 0, @color: rgba(0,0,0,0.5)) when (isnumber(@x)) {
	-webkit-box-shadow: @x @y @radius @spread @color;
	   -moz-box-shadow: @x @y @radius @spread @color;
			box-shadow: @x @y @radius @spread @color; 
}
/* .boxShadow(none); */
.boxShadow(@x: none) when (iskeyword(@x)) {
	-webkit-box-shadow: @x;
	   -moz-box-shadow: @x;
			box-shadow: @x; 
}

/*********************
BUTTONS
*********************/

.button, .button:visited {
	border:none;
	border-bottom: 2px solid darken(@color-secondary, 10%);
	padding: 4px 12px;
	color: @white;
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	margin-bottom: 20px;
	line-height: 21px;
	.transition();
	background-color:@color-secondary;
	font-family: @heading-font;
	text-transform: uppercase;


	&:hover, &:focus, &:active {
		color: @white;
	 	background-color:darken(@color-secondary, 10%);
	 	text-decoration: none;
	}

	&.small {
		font-size:0.75em;
		font-family: @accent-font;
		padding: 0 10px;
		text-transform: none;

		&:hover, &:active {
			text-decoration: none;
		}
	}
}

.blue-button, .blue-button:visited {
	background-color:@color-primary;
	border-color: darken(@color-primary, 10%);
	
	&:hover, &:focus, &:active {
	 	background-color:darken(@color-primary, 10%);
	 	border-bottom-width:2px;		
	}
}

.button-gray {
	background-color:@button-gray;
	border-color:darken(@button-gray, 15%);
	color:@white;

	&:hover, &:focus, &:active {
	 	background-color:darken(@button-gray, 10%);
	 	border-bottom-width:2px;		
	}
}

/************************
Input Types
************************/
.input-text {
	padding: 5px;
	border:1px solid @border-gray;
	color:@dark-gray;
	max-width:90%;
}