@import url(http://fonts.googleapis.com/css?family=Patua+One|Open+Sans:400,600,700,800);
/******************************************************************
Site Name: 
Author: 

Stylesheet: IE Stylesheet

So instead of using the respond.js file to add media query support
to IE, we're going to use SASS to create an easily readable css file.
Here, we import all the styles the standard stylesheet gets, only
without the media queries. No need to worry about editing anything!

******************************************************************/
/*
Remember, all the BASE styles are called already since IE can
read those. Below, we need to import only the stuff IE can't 
understand (what's inside the media queries). We also need to
import the mixins file so LESS can understand the variables.
*/
/* import mixins */
/******************************************************************
Site Name: 
Author: 

Stylesheet: Mixins & Constants Stylesheet

This is where you can take advantage of LESS' great features: 
Mixins & Constants. I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques like box shadow and
border-radius.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more. 

******************************************************************/
/*********************
CLEARFIXIN'
*********************/
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
/*********************
TOOLS
*********************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.image-replacement {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.hide {
  display: none;
}
.text-right {
  text-align: right;
}
/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
/*********************
TYPOGRAPHY
*********************/
/* 
use the best ampersand 
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
span.amp {
  font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
  font-style: italic;
}
/* text alignment */
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.alert {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
}
.alert-help {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
  border-color: #e8dc59;
  background: #ebe16f;
}
.alert-info {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
  border-color: #bfe4f4;
  background: #d5edf8;
}
.alert-error {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
  border-color: #f8cdce;
  background: #fbe3e4;
}
.alert-success {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
  border-color: #deeaae;
  background: #e6efc2;
}
/*********************
ICOMOON ICON FONTS
*********************/
@font-face {
  font-family: 'healthkick';
  src: url('../type/healthkick.eot');
  src: url('../type/healthkick.eot?#iefix') format('embedded-opentype'), url('../type/healthkick.woff') format('woff'), url('../type/healthkick.ttf') format('truetype'), url('../type/healthkick.svg#healthkick') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'healthkick';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="ic-"] {
*/
.ic-cart,
.ic-arrow-right-alt1,
.ic-arrow-right,
.ic-price,
.ic-circleadd,
.ic-circledelete,
.ic-circleselect,
.ic-alarm,
.ic-fire,
.ic-plus,
.ic-minus,
.ic-comment,
.ic-user,
.ic-users,
.ic-arrow-left,
.ic-arrow-down,
.ic-arrow-up,
.ic-credit,
.ic-user-2,
.ic-users-2,
.ic-stats,
.ic-signup,
.ic-star,
.ic-star-2,
.ic-star-3,
.ic-heart,
.ic-heart-2,
.ic-info,
.ic-info-2,
.ic-facebook,
.ic-twitter,
.ic-linkedin,
.ic-pinterest,
.ic-certificate,
.ic-email,
.ic-uniF013,
.ic-search,
.ic-tag,
.ic-profile,
.ic-t-shirt,
.ic-menu,
.ic-list,
.ic-list-2,
.ic-error,
.ic-error-2,
.ic-warning,
.ic-add,
.ic-checked,
.ic-minus-2 {
  font-family: 'healthkick';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.ic-cart:before {
  content: "\21";
}
.ic-arrow-right-alt1:before {
  content: "\22";
}
.ic-arrow-right:before,
.more-link:after {
  content: "\23";
}
.ic-price:before {
  content: "\24";
}
.ic-codeigniter:before {
  content: "\25";
}
.ic-pill:before {
  content: "\26";
}
.ic-circleadd:before {
  content: "\27";
}
.ic-circledelete:before {
  content: "\28";
}
.ic-circleselect:before {
  content: "\29";
}
.ic-alarm:before {
  content: "\2a";
}
.ic-fire:before {
  content: "\2b";
}
.ic-plus:before {
  content: "\2c";
}
.ic-minus:before {
  content: "\2d";
}
.ic-comment:before {
  content: "\2e";
}
.ic-user:before {
  content: "\2f";
}
.ic-users:before {
  content: "\30";
}
.ic-arrow-left:before {
  content: "\31";
}
.ic-arrow-down:before {
  content: "\32";
}
.ic-arrow-up:before {
  content: "\33";
}
.ic-credit:before {
  content: "\34";
}
.ic-user-2:before {
  content: "\35";
}
.ic-users-2:before {
  content: "\36";
}
.ic-stats:before {
  content: "\37";
}
.ic-signup:before {
  content: "\38";
}
.ic-star:before {
  content: "\39";
}
.ic-star-2:before {
  content: "\3a";
}
.ic-star-3:before {
  content: "\3b";
}
.ic-heart:before {
  content: "\3c";
}
.ic-heart-2:before {
  content: "\3d";
}
.ic-info:before {
  content: "\3e";
}
.ic-info-2:before {
  content: "\3f";
}
.ic-facebook:before {
  content: "\40";
}
.ic-twitter:before {
  content: "\41";
}
.ic-linkedin:before {
  content: "\42";
}
.ic-pinterest:before {
  content: "\43";
}
.ic-certificate:before {
  content: "\44";
}
.ic-greenhosting:before {
  content: "\45";
}
.ic-email:before {
  content: "\46";
}
.ic-uniF013:before {
  content: "\47";
}
.ic-search:before {
  content: "\48";
}
.ic-tag:before {
  content: "\25";
}
.ic-profile:before {
  content: "\26";
}
.ic-t-shirt:before {
  content: "\45";
}
.ic-menu:before {
  content: "\49";
}
.ic-list:before {
  content: "\4a";
}
.ic-list-2:before {
  content: "\4b";
}
.ic-error:before {
  content: "\f04a";
}
.ic-error-2:before {
  content: "\e000";
}
.ic-warning:before {
  content: "\e001";
}
.ic-add:before {
  content: "\e002";
}
.ic-checked:before {
  content: "\e003";
}
.ic-minus-2:before {
  content: "\e004";
}
/*********************
BORDER RADIUS
*********************/
/* 
NOTE: For older browser support (and some mobile), 
don't use the shorthand to define *different* corners. 

USAGE: .border-radius(4px); 

*/
/*********************
TRANISTION
*********************/
/* .transition(all,2s); */
/*********************
CSS3 GRADIENTS
Be careful with these since they can 
really slow down your CSS. Don't overdo it.
*********************/
/* .css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SHADOW
*********************/
/* .boxShadow(0,0,4px,0,#444); */
/* .boxShadow(none); */
/*********************
BUTTONS
*********************/
.button,
.button:visited {
  border: none;
  border-bottom: 2px solid #920e21;
  padding: 4px 12px;
  color: #ffffff;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 20px;
  line-height: 21px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: #c0132c;
  font-family: 'Patua One', Georgia, serif;
  text-transform: uppercase;
}
.button:hover,
.button:visited:hover,
.button:focus,
.button:visited:focus,
.button:active,
.button:visited:active {
  color: #ffffff;
  background-color: #920e21;
  text-decoration: none;
}
.button.small,
.button:visited.small {
  font-size: 0.75em;
  font-family: 'Open Sans', sans-serif;
  padding: 0 10px;
  text-transform: none;
}
.button.small:hover,
.button:visited.small:hover,
.button.small:active,
.button:visited.small:active {
  text-decoration: none;
}
.blue-button,
.blue-button:visited {
  background-color: #2d338e;
  border-color: #212567;
}
.blue-button:hover,
.blue-button:visited:hover,
.blue-button:focus,
.blue-button:visited:focus,
.blue-button:active,
.blue-button:visited:active {
  background-color: #212567;
  border-bottom-width: 2px;
}
.button-gray {
  background-color: #828282;
  border-color: #5c5c5c;
  color: #ffffff;
}
.button-gray:hover,
.button-gray:focus,
.button-gray:active {
  background-color: #696969;
  border-bottom-width: 2px;
}
/************************
Input Types
************************/
.input-text {
  padding: 5px;
  border: 1px solid #d5d5d5;
  color: #333333;
  max-width: 90%;
}
/******************************************************************
Site Name: 
Author: 

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to 
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection. 

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.less styles.

******************************************************************/
body {
  background: #f1f1f1 url(../images/fabric_of_squares_gray.png) repeat top center;
}
.header ul.shop-links li:first-child {
  display: inline-block;
}
/*********************
NAVIGATION STYLES
*********************/
/* .menu is clearfixed inside mixins.scss */
.menu {
  /* end .menu ul */

}
.menu ul {
  /* end .menu ul li */

  /* highlight current page */

  /* end current highlighters */

}
.menu ul li {
  /*
				plan your menus and drop-downs wisely.
				*/

}
.menu ul li a {
  /*
					you can use hover styles here even though this size
					has the possibility of being a mobile device.
					*/

}
/* end .menu */
/*********************
POSTS & CONTENT STYLES
*********************/
/* entry content */
.entry-content {
  /* at this larger size, we can start to align images */

}
.entry-content .alignleft,
.entry-content img.alignleft {
  margin: 1em 1.5em 1em 0;
  display: inline;
  float: left;
}
.entry-content .alignright,
.entry-content img.alignright {
  margin: 1em 0 1em 1.5em;
  display: inline;
  float: right;
}
.entry-content .aligncenter,
.entry-content img.aligncenter {
  margin: 0 auto 1em;
  display: block;
  clear: both;
}
/* end .entry-content */
/*********************
FOOTER STYLES
*********************/
/*
check your menus here. do they look good?
do they need tweaking?
*/
/* end .footer-links */
.footer #inner-footer .twocol {
  width: 23%;
  vertical-align: top;
  margin-bottom: 2em;
}
.knowledge-banner h3 span {
  font-size: 3em;
}
.blog article .post-thumb img,
.single article .post-thumb img,
.archive article .post-thumb img {
  float: right;
  margin: 1em 0 1.5em 2em;
}
.single .article-header {
  text-align: left;
}
.location-list li {
  text-align: left;
}
.location-list li .location-img {
  float: right;
}
.location-list li .location-details {
  float: left;
}
/*********************
WOOCOMMERCE STYLES
*********************/
/* import grid */
/******************************************************************
Site Name:
Author:

Stylesheet: Grid Stylesheet

I've seperated the grid so you can swap it out easily. It's
called at the top the style.less stylesheet.

There are a ton of grid solutions out there. You should definitely
experiment with your own. Here are some recommendations:

http://gridsetapp.com - Love this site. Responsive Grids made easy.
http://gridpak.com/ - Create your own responsive grid.

The grid below is a combination of the 1140 grid and Twitter Boostrap. 
I liked 1140 but Boostrap's grid was way more detailed so I merged them 
together, let's see how this works out. If you want to use 1140, the original 
values are commented out on each line.

******************************************************************/
#container,
.wrap {
  margin: 0 auto;
}
/* layout options ( all have margins right & left of 2.1276596%) */
.onecol {
  width: 6.3829787%;
}
/* width 60px  / grid_1  */
.twocol {
  width: 14.893617%;
}
/* width 140px / grid_2  */
.threecol {
  width: 23.404255%;
}
/* width 220px / grid_3  */
.fourcol {
  width: 31.914894%;
}
/* width 300px / grid_4  */
.fivecol {
  width: 40.425532%;
}
/* width 380px / grid_5  */
.sixcol {
  width: 48.936170%;
}
/* width 480px / grid_6  */
.sevencol {
  width: 57.446809%;
}
/* width 540px / grid_7  */
.eightcol {
  width: 65.957447%;
}
/* width 620px / grid_8  */
.ninecol {
  width: 74.468085%;
}
/* width 700px / grid_9  */
.tencol {
  width: 82.978723%;
}
/* width 780px / grid_10 */
.elevencol {
  width: 91.489362%;
}
/* width 860px / grid_11 */
.twelvecol {
  width: 100.0%;
}
/* width 940px / grid_12 */
/* layout & column defaults */
.onecol,
.twocol,
.threecol,
.fourcol,
.fivecol,
.sixcol,
.sevencol,
.eightcol,
.ninecol,
.tencol,
.elevencol,
.twelvecol {
  display: inline;
  float: left;
  position: relative;
  margin-left: 1.0638298%;
  /* 10px */
  margin-right: 1.0638298%;
  /* 10px */

}
/* default styles & fixes */
.first {
  margin-left: 0;
}
/* fixes alignment */
.last {
  margin-right: 0;
}
/* fixes alignment *//******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/
/*********************
GENERAL STYLES
*********************/
body #inner-content {
  padding: 10px;
}
/*********************
LAYOUT & GRID STYLES
*********************/
/*********************
HEADER STYLES
*********************/
.header ul.shop-links {
  padding: 0;
  margin: 0 0 10px;
  text-align: center;
  background-color: #f1f1f1;
  border: 1px solid #d5d5d5;
}
.header ul.shop-links li {
  display: inline-block;
  font-size: 0.75em;
  padding: 3px 0;
}
.header ul.shop-links li:first-child:before {
  font-family: 'healthkick';
  content: "\21";
  font-size: 1.2em;
}
.header ul.shop-links li:last-child a {
  border-right: none;
}
.header ul.shop-links li a {
  color: #333333;
  text-decoration: none;
  padding: 0 0.75em 0 0.5em;
  border: none;
}
.header ul.shop-links li a:hover,
.header ul.shop-links li a:active {
  text-decoration: underline;
}
.header .searchbar {
  width: 100%;
  margin: 0 0 0.5em;
  text-align: right;
}
/*********************
NAVIGATION STYLES
*********************/
/*********************
SIDEBARS & ASIDES
*********************/
/* links widget */
/* meta widget */
/* pages widget */
/* recent-posts widget */
/* archives widget */
/* tag-cloud widget */
/* calendar widget */
/* category widget */
/* recent-comments widget */
/* search widget */
/* text widget */
/*********************
FOOTER STYLES
*********************/
/*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/
.footer-links ul li {
  /*
			be careful with the depth of your menus.
			it's very rare to have multi-depth menus in
			the footer.
			*/

}
/* end .footer-links */
.footer #inner-footer .twocol {
  width: 14.893617%;
  margin-bottom: 0;
}
/*************************
Page Styles
*************************/
.staff-list li {
  width: 30%;
}
/*************************
WooCommerce
*************************/
.widget_product_categories ul.product-categories {
  display: block!important;
}
.widget_brand_nav ul {
  display: block!important;
}
#shop-filters-btn {
  display: none!important;
}
#shop-filters {
  display: block!important;
}
nav.woocommerce-breadcrumb {
  margin-top: 0;
}
/******************************************************************
Site Name: 
Author: 

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop. 

******************************************************************/
#container,
.wrap {
  width: 940px;
}
.header {
  -webkit-box-shadow: 0 0 10px 0 #bcbcbc;
  -moz-box-shadow: 0 0 10px 0 #bcbcbc;
  box-shadow: 0 0 10px 0 #bcbcbc;
}
.header a.mobile-nav-ic {
  display: none;
}
.header a.logo {
  margin: 10px;
}
.header nav {
  position: relative;
  display: block;
}
.header nav ul li span.toggle {
  display: none;
}
.header nav ul.top-nav {
  padding-left: 117px;
}
.header nav ul.top-nav:before {
  content: url(../images/shoponline.png) no-repeat center;
  height: 55px;
  width: 117px;
  position: absolute;
  top: -15px;
  left: -1px;
}
.header nav ul.top-sub-nav li a {
  background: #f1f1f1;
  padding: 10px 1.15em;
}
.header nav ul.top-sub-nav li a:hover,
.header nav ul.top-sub-nav li a:active {
  background: #d5d5d5;
}
.header .searchbar {
  width: 68%;
  margin: 0 0 0.5em;
  text-align: right;
}
#shop-right-sidebar .social-homepage {
  border: none;
}
#content {
  -webkit-box-shadow: 0 0 10px 0 #bcbcbc;
  -moz-box-shadow: 0 0 10px 0 #bcbcbc;
  box-shadow: 0 0 10px 0 #bcbcbc;
}
/*********************
NAVIGATION STYLES
*********************/
.nav {
  background: #eee;
  border: 0;
  /* end .menu ul li */

  /* highlight current page */

  /* end current highlighters */

}
.nav li {
  float: left;
  position: relative;
  /*
		plan your menus and drop-downs wisely.
		*/

  /* showing sub-menus */

}
.nav li a {
  border-bottom: 0;
  /*
			you can use hover styles here even though this size
			has the possibility of being a mobile device.
			*/

}
.nav li a:hover,
.nav li a:focus {
  background-color: #dedede;
}
.nav li ul.sub-menu,
.nav li ul.children {
  margin-top: 0;
  border: 1px solid #ccc;
  border-top: 0;
  position: absolute;
  display: none;
  z-index: 8999;
  /* highlight sub-menu current page */

}
.nav li ul.sub-menu li,
.nav li ul.children li {
  /*
				if you need to go deeper, go nuts
				just remember deeper menus suck
				for usability. k, bai.
				*/

}
.nav li ul.sub-menu li a,
.nav li ul.children li a {
  padding-left: 10px;
  border-right: 0;
  display: block;
  width: 180px;
  border-bottom: 1px solid #ccc;
}
.nav li ul.sub-menu li:last-child a,
.nav li ul.children li:last-child a {
  border-bottom: 0;
}
.nav li:hover ul {
  top: auto;
  display: block;
}
/* end .nav */
.knowledge-banner h3 {
  display: inline-block;
  float: left;
}
.knowledge-banner h3:after {
  content: '';
  position: absolute;
  height: 300px;
  width: 300px;
  right: -75px;
  bottom: 0;
  z-index: -1;
  background: #c0132c;
  -moz-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -o-transform: rotate(30deg);
}
.knowledge-banner p {
  display: inline-block;
  width: 55%;
  float: right;
  padding: 0 5px 0 0;
}
.knowledge-banner a {
  position: absolute;
  bottom: 0;
  right: -5px;
  z-index: 15;
  margin: 0;
}
.tabs .tab-text {
  background-color: #f1f1f1;
  border: 1px solid #d5d5d5;
  border-bottom: 2px solid #d5d5d5;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.875em;
  line-height: 21px;
  display: inline-block;
  padding: 4px 25px;
  float: right;
}
/* 
you can call the larger styles if you want, but there's really no need 
*/
/******************************************************************
ADDITIONAL IE FIXES
These fixes are now ONLY seen by IE, so you don't have to worry
about using prefixes, although it's best practice. For more info
on using Modernizr classes, check out this link:
http://www.modernizr.com/docs/
******************************************************************/
/*
For example, you can use something like:

.no-textshadow .class { ... }

You can also target specific versions by using the classes applied to
the html element. These can sometimes change, so take a look inside the
header.php file to see what they are:


.lt-ie8 .class { ... }

*/
ul.top-sub-nav li a {
  padding: 10px 1em!important;
}
ul.shop-links li a {
  padding: 0;
}
